* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(graduation-wishes-1651254203.jpeg);
    background-size: cover;
    background-position: center;

}
header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;   
}
.logo{
    font-size: 1cm;
    font-weight: bold;
    color: black;
    user-select: none;
}
.navigateur a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none ;
    font-weight: 800;
    margin-left: 20px;


}
.navigateur a::after{
    content:"" ;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(162, 162, 221);
    border-radius: 5px;

    transform: scaleX(0);
    transition: transform .5s;
}
.navigateur a:hover::after{
    transform: scaleX(1);
}

.navigateur .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigateur .btnlogin-popup:hover{
    background: #fff;
    color: #162938;
}
.container{
    width: 100vw;
    min-height: 100vh;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
}
.left{
    flex-basis: 50%;
}
.right{
    flex-basis: 50%;
}
form{
    padding:1rem;
}
.h2{
    margin-top: 1rem;
    color: #2c3e50;

}
form input[type="text"]{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;

}
#zip{
    display: flex;
    margin-top :0.5rem;

}
#zip select{
    padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
    padding: 0.5rem 0.7rem;
    margin-left: 5px;
}
input[type="submit"]{
    width: 100%;
    padding: 0.7rem 1.5rem;
    background: #2c3e50;
    color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: #2c3e50;
}
