* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(graduation-wishes-1651254203.jpeg);
    background-size: cover;
    background-position: center;

}
header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;   
}
.wrapper{
    position: relative;
    width: 400px;
    height: 650px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba (0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
.wrapper.form-box{
    width: 100px; 
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color :rgba(255, 255, 255, .5);
    text-align: center;
}
.btn{
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, .5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}
form input[type="text"]{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;

}
select{
    padding: 0.5rem 0.7rem;
}
