* {
margin:  0;
padding: 0;
text-decoration: none ;
list-style: none ;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(graduation-wishes-1651254203.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    position: absolute;
    padding: 50px;
    display :flex;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    box-sizing: border-box;
}
.navbar a {
    color: white;
}
.navbar .logo {
    font-size: 1cm;
    font-weight: bold;
    color: black;
}
 
.navbar .nav-links ul{
    flex: 1;
    text-align: left;
}
.navbar .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}
.navbar .nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: rgb(162, 162, 221);
   display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar .nav-links ul li.active a {
   color: rgb(162, 162, 221);
   font-weight: 600;
 }
 .navbar .nav-links ul li:hover::after{
    width: 100%;
 }
 .text-box{
    width: 90%;
    color: white;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% ,-50%);
    text-align: center;
 }
 .text-box h1{
    font-size: 62px;
 }
 .text-box p {
    margin:10px 0 40px;
    font-size: 14px;
    color:#fff;
 }
.hero{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero:hover{
    border: 1px solid rgb(162, 162, 221);
    background: rgb(162, 162, 221);
    transition:1s;
}


@media( max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .navbar .nav-links ul li{
        display: block;
    }
    .navbar .nav-links{
        position: absolute;
        background:  rgb(118, 118, 213);
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

}
.formation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777 ;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;

}
.formation-col{
    flex-basis: 31%;
    background: rgb(236, 243, 247);
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-size: 600;
    margin: 10px 0;

}
.formation-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding:30px 0;

}
.footer.h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons{
    color: rgb(181, 211, 239);
    margin:0 13px;
    cursor: pointer;
    padding : 18px 0;

}





